::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #444;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #444;
}

.main-layout-container {
  background-image: url("../../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .main-container {
    width: 70vw;
    height: 80vh;
    background-color: #444;
    border-radius: 30px;
    box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
  }

  .content {
    position: absolute;
    height: 80vh;
    width: 52.5vw;
    top: 10%;
    left: 35%;
    background-color: #222;
    border-radius: 30px;

    .section-class {
      transition: opacity 1s linear;
      opacity: 0;
      height: 0;
      width: 0;
      overflow: auto;
    }

    .section-class.active {
      opacity: 1;
      width: auto;
      height: 100%;
    }
  }

  .menu {
    color: white;
    position: absolute;
    top: 10%;
    left: 89%;
    background-color: #444;
    padding: 15px 0;
    width: 65px;
    border-radius: 30px;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    align-items: center;

    .icon {
      cursor: pointer;
      font-size: 1.8rem;
    }

    .icon.active {
      color: #f58545;
    }

    .icon:hover {
      color: #f58545;
    }
  }

  .small-size-main-container {
    height: 100%;
    justify-content: flex-start;
    align-items: start;
    .icon {
      position: absolute;
      top: 2%;
      right: 2%;
      z-index: 999;
      font-size: 1.2rem;

      svg {
        color: #ffffff;
        padding: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #f58545;
      }
    }
  }

  @media only screen and (orientation: landscape) {
    @media only screen and (min-device-width: 1100px) and (max-device-width: 1200px) {
      .main-container {
        width: 80vw;
      }

      .content {
        width: 55.5vw;
        height: 80.5vh;
      }

      .menu {
        left: 92%;
      }
    }
    @media only screen and (min-device-width: 1360px) and (max-device-width: 1400px) {
      .main-container {
        width: 80vw;
      }

      .content {
        width: 55.5vw;
      }

      .menu {
        left: 91%;
      }
    }
  }
}

.ant-tooltip {
  .ant-tooltip-content {
    .ant-tooltip-inner {
      background-color: #f58545;
      color: #222;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
}

.ant-drawer {
  .ant-drawer-body {
    .drawer-container {
      .picture-container {
        img {
          margin: 15px auto;
          display: block;
          width: 180px;
          border: 2px solid #ffffff;
          border-radius: 50%;
        }
      }

      .name {
        color: #ffffff;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        margin-top: 20px;
        text-transform: uppercase;
      }

      .title {
        color: #bbb;
        text-align: center;
        margin-top: 10px;
        font-size: 1.2rem;
        font-weight: 500;
      }

      .menu {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: 20px;
        margin-bottom: 40px;

        .icon {
          display: flex;
          justify-content: flex-start;
          align-items: start;
          width: 100%;
          text-align: start;
          gap: 20px;
          font-size: 1rem;
          color: #bbb;
          font-weight: 600;

          span {
            color: #ffffff;
          }
        }

        .icon.active {
          color: #f58545;

          span {
            color: #f58545;
          }
        }
      }

      .social-media-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 10px;
        .icon {
          cursor: pointer;
          padding: 8px;
          border-radius: 50%;
          font-size: 1.1rem;
          color: #ffffff;
          width: 20px;
          height: 20px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s;
        }

        .icon:hover {
          background-color: #149ddd;
        }
      }
      .button-download {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 50px;

        a {
          width: 120px;
          height: 10px;
          text-decoration: none;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          padding: 20px;
          border-radius: 30px;
          font-weight: 600;
          color: #ffffff;
          border: 2px solid white;
          cursor: pointer;
        }

        a:hover {
          background-color: #ffffff;
          color: #149ddd;
          transition: all 0.5s;
        }
      }
    }
  }
}
